<div class='container'>
  <div class='col-md-1 text-center d-md-flex align-items-center'>
    <i class='d-block far fa-heart fa-2x mr-md-5 text-primary heart'></i>
  </div>
  <div class='col-md-10 text-center'>
    <p class='mt-2 mb-0'>© 2019 Théo Liberman. All rights reserved</p>
  </div>
</div>
