<div class='container'>
  <div class='col-md-1 text-center d-md-flex align-items-center'>
    <i class='d-block far fa-heart fa-2x mr-md-5 text-primary heart'></i>
  </div>
  <div class='col-md-10 text-center'>
    <p class='mt-2 mb-0'>© 2019 Théo Liberman. All rights reserved</p>
  </div>
  <div class='col-md-1 d-flex align-items-center justify-content-md-between justify-content-center my-2'>
    <a href='https://www.facebook.com' class='social'>
      <i id='facebook' class='d-block fab fa-facebook-square fa-lg mx-2'></i>
    </a>
    <a href='https://www.twitter.com' class='social'>
      <i id='twitter' class='d-block fab fa-twitter-square fa-lg mx-2'></i>
    </a>
    <a href='https://www.gmail.com' class='social'>
      <i id='mail' class='d-block fas fa-envelope-square fa-lg ml-2'></i>
    </a>
  </div>
</div>
