<nav class='navbar navbar-expand-md navbar-light fixed-top bg-white'>
  <div class='container'>
    <button class='navbar-toggler navbar-toggler-right border-0'
            type='button' data-toggle='collapse' data-target='#navbar6'>
      <span class='navbar-toggler-icon'></span>
    </button>
    <div class='collapse navbar-collapse' id='navbar6'>
      <%= link_to(root_path, class: 'navbar-brand text-primary d-none d-md-block') do %>
        <i class='fa d-inline fa-lg fa-basketball-ball'></i>
        <b> TTFLive</b>
      <% end %>
      <% text = status ? 'Disable AutoUpdate' : 'Enable AutoUpdate' %>
      <% btn_class = status ? 'btn-success' : 'btn-danger' %>
      <%= button_to text, auto_update_path, method: :post, class: 'btn btn-block ' + btn_class %>
    </div>
  </div>
</nav>