<nav class='navbar navbar-expand-md navbar-light fixed-top bg-white'>
  <div class='container'>
    <button class='navbar-toggler navbar-toggler-right border-0'
            type='button' data-toggle='collapse' data-target='#navbar6'>
      <span class='navbar-toggler-icon'></span>
    </button>
    <div class='collapse navbar-collapse' id='navbar6'>
      <%= link_to(root_path, class: 'navbar-brand text-primary d-none d-md-block') do %>
        <i class='fa d-inline fa-lg fa-basketball-ball'></i>
        <b> TTFLive</b>
      <% end %>
      <ul class='navbar-nav mx-auto'>
        <li class='nav-item'>
          <%= button_to 'Update Score', update_score_path, class: 'nav-link' %>
        </li>
        <li class='nav-item' style='visibility: hidden;'><a class='nav-link disabled' href=''>About</a></li>
      </ul>
    </div>
  </div>
</nav>